# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# MAC
*.DS_Store

# Raw data
data/RSTR_RNAseq_data_combined_clean.RData
notes/kimma_MS_outline.docx
data/merged_Omni_MegaEx_randomFounder_Hawn_filter_LD.gds
data/kinship_Hawn_all.csv
data/RSTR_ID_key.csv
data/RSTR_RNAseq_data_combined_uniqueFULLID_weights.RData
data/RSTR_RNAseq_data_combined_clean.RData

